
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(3, 83, 164);
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(6, 26, 64);
}
#Doporucujeme{
    width: 40vw;
    margin: auto;
    margin-top: 50px ;


}
#doporuceno{
    background-color: whitesmoke;
    width: 40%;
    margin: auto;
    height: 500px;
    
}
.neco{
  background-color: whitesmoke;
  width: 40%;
  margin: auto;
  height: 500px;
  
}
#recepty{
  margin-left: 5%;
}
#recept{
  background-color: whitesmoke;
  width: 40%;
  margin: auto;
  height: 500px;
  border: 10px solid black;
  margin-left: 5%; 
  display: inline-block; 
  display:flex;
  flex-direction: column;
}
.doporuceno { 
  float:right;  
  max-width:500px;  
 }

